html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background-color: #F8F8F8;
}

main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 16.08rem;
  padding: 0.26667rem 0.2rem;
}
main ul li {
  width: 4.66667rem;
  height: 7.70667rem;
  margin: 0 0.06667rem 0.13333rem 0.06667rem;
  background-color: #fff;
  float: left;
  -moz-border-radius: 0.05333rem;
  -webkit-border-radius: 0.05333rem;
  border-radius: 0.05333rem;
}
main ul li img {
  width: 4.66667rem;
  height: 4.66667rem;
  -moz-border-radius: 0.05333rem 0.05333rem 0 0;
  -webkit-border-radius: 0.05333rem;
  border-radius: 0.05333rem 0.05333rem 0 0;
}
main ul li .content {
  padding: 0.13333rem;
}
main ul li h4 {
  height: 0.96rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #141414;
  font-size: 0.34667rem;
  line-height: 0.48rem;
}
main ul li p, main ul li span {
  color: #999;
  font-size: 0.29333rem;
  line-height: 0.4rem;
  padding-top: 0.06667rem;
}
main ul li .clear {
  margin-top: 0.26667rem;
}
main ul li em {
  color: #D03E27;
  font-size: 0.50667rem;
  font-weight: bold;
}
main .loading {
  text-align: center;
  height: 0.66667rem;
}

.backTop {
  position: fixed;
  width: 1.04rem;
  height: 1.04rem;
  right: 0.46667rem;
  bottom: 1.86667rem;
  border: 0.01333rem solid #B1B1B1;
  opacity: 0;
  background-color: #fff;
  transition: opacity 0.5s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-image: url("../images/backTop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -moz-background-size: 0.58667rem 0.58667rem;
  -o-background-size: 0.58667rem 0.58667rem;
  -webkit-background-size: 0.58667rem 0.58667rem;
  background-size: 0.58667rem 0.58667rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .backTop {
    background-image: url("../images/backTop@2x.png");
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .backTop {
    background-image: url("../images/backTop@3x.png");
  }
}
.backTop.faseIn {
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.17333rem;
}
footer button {
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
  color: #fff;
  text-align: center;
  font-size: 0.4rem;
  background-color: #D03E27;
}

/*# sourceMappingURL=index.css.map */
