html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.17333rem;
  line-height: 1.17333rem;
  background-color: #fff;
  text-align: center;
  color: #141414;
  font-size: 0.48rem;
  border-bottom: 6px solid #DFDFDF;
  z-index: 999;
}
header i {
  position: absolute;
  left: 0.26667rem;
  top: 0.29333rem;
  width: 0.58667rem;
  height: 0.58667rem;
  background-image: url("../images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  header i {
    background-image: url("../images/back@2x.png");
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  header i {
    background-image: url("../images/back@3x.png");
  }
}

main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 1.25333rem;
  max-height: 15.2rem;
  background-color: #F8F8F8;
}
main .text-r {
  text-align: right;
}
main .goods-info {
  padding: 0.33333rem 0.26667rem 0 0.26667rem;
  background-color: #fff;
}
main .goods-info i {
  display: inline-block;
  width: 0.58667rem;
  height: 0.58667rem;
  margin-right: 0.13333rem;
  vertical-align: -0.16rem;
}
main .goods-info .shop-icon {
  background-image: url("../images/store.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  main .goods-info .shop-icon {
    background-image: url("../images/store@2x.png");
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  main .goods-info .shop-icon {
    background-image: url("../images/store@3x.png");
  }
}
main .goods-info .arrows {
  width: 0.30667rem;
  vertical-align: -0.17333rem;
  background-image: url("../images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  main .goods-info .arrows {
    background-image: url("../images/back@2x.png");
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  main .goods-info .arrows {
    background-image: url("../images/back@3x.png");
  }
}
main .goods-info .store-name {
  color: #141414;
  font-size: 0.34667rem;
  padding-bottom: 0.4rem;
}
main .goods-info .store-detail {
  border-bottom: 0.01333rem solid #DFDFDF;
}
main .goods-info .store-detail img {
  width: 2.4rem;
  height: 2.4rem;
  float: left;
}
main .goods-info .store-detail .order-infor {
  margin-left: 2.8rem;
}
main .goods-info .store-detail h4 {
  color: #141414;
  font-size: 0.32rem;
  line-height: 0.42667rem;
}
main .goods-info .store-detail p {
  color: #999;
  font-size: 0.29333rem;
}
main .goods-info .store-detail .red-price {
  color: #D03E27;
  font-size: 0.4rem;
  margin-right: 0.33333rem;
}
main .goods-info .store-detail .weight {
  line-height: 0.77333rem;
}
main .goods-info .store-detail .goods-price {
  padding-top: 0.37333rem;
}
main .goods-info .store-detail .goods-sum {
  padding-bottom: 0.2rem;
}
main .distri-method {
  color: #666;
  font-size: 0.32rem;
  margin-bottom: 0.13333rem;
  background-color: #fff;
  line-height: 0.48rem;
  padding: 0.2rem 0.26667rem;
}
main .distri-method .text-r {
  color: #141414;
  font-size: 0.29333rem;
}
main .goods-money {
  margin-bottom: 0.13333rem;
  background-color: #fff;
  padding: 0.2rem 0.26667rem;
  line-height: 0.6rem;
}
main .goods-money label {
  color: #666;
  font-size: 0.32rem;
}
main .goods-money span {
  color: #141414;
  font-size: 0.37333rem;
}
main .goods-money .freight span, main .goods-money .sales-return span {
  color: #D03E27;
}
main .address {
  background-color: #fff;
  padding: 0.26667rem;
}
main .address label {
  display: inline-block;
  color: #343434;
  font-size: 0.4rem;
  width: 2.13333rem;
  height: 0.86667rem;
}
main .address input {
  height: 1rem;
  width: 5.33333rem;
  border-bottom: 0.01333rem solid #d8d8d8;
}
main .address input[placeholder], main .address [placeholder], main .address *[placeholder] {
  font-size: 0.34667rem;
}
main .address .verify-area {
  margin-left: 2.24rem;
}
main .address .verify-code {
  width: 2.4rem;
}
main .address .code-btn {
  height: 0.66667rem;
  line-height: 0.61333rem;
  width: 2.24rem;
  color: #fff;
  border: 0;
  outline: 0;
  font-size: 0.32rem;
  background-color: #D03E27;
  -moz-border-radius: 0.10667rem;
  -webkit-border-radius: 0.10667rem;
  border-radius: 0.10667rem;
}
main .address .code-btn.disabled {
  background-color: #666;
}
main .address .receive {
  margin-top: 0.33333rem;
}
main .address .receive .outlineBorder {
  position: relative;
  width: 3.26667rem;
  color: #666;
  line-height: 0.8rem;
  text-align: left;
  float: left;
  background-color: #fff;
  border: 0.01333rem solid #ddd;
  margin: 0 0.16rem 0.13333rem 0;
  padding-left: 0.13333rem;
}
main .address .receive .outlineBorder .right {
  position: absolute;
  width: 0;
  height: 0;
  right: 0.66667rem;
  top: 0px;
  border-top: 0.22667rem solid transparent;
  border-right: 0.22667rem solid transparent;
  border-bottom: 0.22667rem solid #B1B1B1;
  border-left: 0.22667rem solid transparent;
}
main .address .receive .outlineBorder .selectDiv {
  position: absolute;
  bottom: 0.8rem;
  left: -0.01333rem;
  width: 3.13333rem;
  max-height: 2.50667rem;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.13333rem;
  border: 0.01333rem solid #ddd;
  z-index: 999;
}
main .address .receive .outlineBorder .selectDiv li {
  color: #141414;
  font-size: 0.37333rem;
  line-height: 0.6rem;
}
main .address .receive .outlineBorder.open .right {
  top: 0.29333rem;
  transform: rotate(180deg);
}
main .address .goods-address {
  margin-left: 2.24rem;
}
main .address .goods-address button {
  width: 1.6rem;
  height: 0.66667rem;
  color: #B1B1B1;
  font-size: 0.34667rem;
  border: 0.01333rem solid #ddd;
  background-color: #fff;
  margin-right: 0.16rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.30667rem;
}
footer button {
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
  line-height: 1.30667rem;
  background-color: #D03E27;
  color: #fff;
  font-size: 0.37333rem;
}

/*# sourceMappingURL=index.css.map */
